@font-face {
  font-family: FuturaPTBook;
  src: url(./assets/FuturaPTBook.otf);
}

@font-face {
  font-family: FuturaPTDemi;
  src: url(./assets/FuturaPTDemi.otf);
}

body {
  margin: 0;
  font-family: FuturaPTbook;
}
