@font-face {
  font-family: FuturaPTBook;
  src: url(./assets/FuturaPTBook.otf);
}

@font-face {
  font-family: FuturaPTDemi;
  src: url(./assets/FuturaPTDemi.otf);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: FuturaPTbook;
  vertical-align: baseline;
  background: transparent;
  max-width: 100%;
  overflow-x: clip
}